<!-- header section for nav bar starts -->
<header>

    <div id="menu-bars" class="fas fa-bars"></div>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#about">about</a>
        <a href="#services">services</a>
        <a href="#portfolio">My projects</a>
        <a href="#contact">contact</a>
    </nav>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

    <div id="particles-js"></div>

    <div class="content">
        <img class="tilt" src="images/me.jpg" alt="">
        <h3> dharmil <span>chauhan</span> </h3>
        <p> i am a <span class="typing-text"> front end developer </span> </p>
        <a href="#about" class="btn">about me</a>
    </div>

</section>

<!-- home section ends -->

<!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> about <span>me</span> </h1>

    <div class="row">

        <div class="image">
            <img class="tilt" src="images/about-pic.jpg" alt="">
        </div>

        <div class="content">
            <h3> my name is <span> dharmil chauhan </span> </h3>
            <p class="info">Basically I Am A Product Designer Who Craft Beatiful, Minimal And User Interface Design After Understading Your Requerment.</p>
            <div class="box-container">
                <div class="box">
                    <p> <span> age: </span> 22 </p>
                    <p> <span> gender: </span> male </p>
                    <p> <span> experience  : </span> 1 years </p>
                    <p> <span> freelance : </span> available </p>
                </div>
                <div class="box">
                    <p> <span> language : </span> hindi / english / gujarati </p>
                    <p> <span> phone : </span> +91 7567379820 </p>
                    <p> <span> email : </span> dharmilchauhan1998@gmail.com </p>
                    <p> <span> address : </span> ahmedabad, india - 380004 </p>
                </div>
            </div>
            <a href="#" class="btn">download CV</a>
        </div>

    </div>

</section>

<!-- about section ends -->

<!-- services section starts  -->

<section class="services" id="services">

    <h1 class="heading"> <span> my </span> services </h1>

    <div class="box-container">

        <div class="box tilt">
            <i class="fas fa-code"></i>
            <h3>web development</h3>
            <p>The Websites Created Are Minimalistic And Attractive For The User.</p>
        </div>

        <div class="box tilt">
            <i class="fas fa-paint-brush"></i>
            <h3>graphic design</h3>
            <p>The Art Or Skill Of Combining Text And Pictures In Advertisements, Magazines, Or Books.</p>
        </div>

        <div class="box tilt">
            <i class="fas fa-bullhorn"></i>
            <h3>digital marketing</h3>
            <p>The Media Market For My Work Is Sharp You Can Check Some Of My Work On My Portfolio.</p>
        </div>

        <div class="box tilt">
            <i class="fas fa-tools"></i>
            <h3>easy to customise</h3>
            <p>The User Can Easliy Customize The Design Provided. So If There Is A Problem The User Can Easliy Change It.</p>
        </div>

        <div class="box tilt">
            <i class="fas fa-mobile"></i>
            <h3>Responsive designs</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, quidem.</p>
        </div>

        <div class="box tilt">
            <i class="fas fa-tint"></i>
            <h3>responsive designs</h3>
            <p>The Design You Get Are Very Responsive And Completely Userfriendly.</p>
        </div>

    </div>

</section>

<!-- services section ends -->

<!-- portfolio section starts  -->

<section class="portfolio" id="portfolio">

    <h1 class="heading"> <span> my </span> projects </h1>

    <div class="box-container">

        <div class="box tilt">
            <img src="images/img-1.jpg" alt="">
            <div class="content">
                <a href="#" class="btn">laptop repairs</a>
            </div>
        </div>

        <div class="box tilt">
            <img src="images/img-2.jpg" alt="">
            <div class="content">
                <a href="#" class="btn">doctors app</a>
            </div>
        </div>

        <div class="box tilt">
            <img src="images/img-3.jpg" alt="">
            <div class="content">
                <a href="#" class="btn">web portfolio</a>
            </div>
        </div>

        <div class="box tilt">
            <img src="images/img-4.jpg" alt="">
            <div class="content">
                <a href="#" class="btn">UI designs</a>
            </div>
        </div>

        <div class="box tilt">
            <img src="images/img-5.jpg" alt="">
            <div class="content">
                <a href="#" class="btn">E-library</a>
            </div>
        </div>

        <div class="box tilt">
            <img src="images/img-6.jpg" alt="">
            <div class="content">
                <a href="#" class="btn">hair dresser</a>
            </div>
        </div>

    </div>
    
</section>

<!-- portfolio section ends -->

<!-- contact section starts  -->

<section class="contact" id="contact">

    <h1 class="heading"> contact <span> me </span> </h1>

    <div class="row">

        <div class="image">
            <img class="tilt" src="images/contact-img.svg" alt="">
        </div>

        <form action="">

            <div class="inputBox">
                <input type="text" placeholder="name">
                <input type="email" placeholder="email">
            </div>

            <input type="text" placeholder="subject" class="box">

            <textarea placeholder="message" name="" id="" cols="30" rows="10"></textarea>

            <input type="submit" class="btn" value="send message">

        </form>

    </div>
      <div class="fa">
                    <a href="https://www.linkedin.com/in/dharmil-chauhan-989157184/" class="fab fa-linkedin"></a>
            
         </div class="fa">
                <a href="https://github.com/Dharmil21" class="fab fa-github"></a>
                </div>


</section>